<h1>Create a team</h1>

<form role='form' class='form-horizontal' id='new-team'>
  <div class='col-sm-10'>
    <div class='form-group'>
      <label for="team-name" class="col-sm-3 control-label">Team Name</label>
      <div class='col-sm-8'>
        <input type="text" name="team-name" value="" class='form-control' id='team-name'>
      </div>
    </div>
    <button class='btn btn-primary col-sm-offset-3' type='submit'>Create team &rarr;</button>
  </div>
</form>