<h1>Create a league</h1>

<form role='form' class='form-horizontal' id='new-league'>
  <div class='col-sm-10'>
    <div class='form-group'>
      <label for="league-name" class="col-sm-3 control-label">League Name</label>
      <div class='col-sm-8'>
        <input type="text" name="league-name" value="" class='form-control' id='league-name'>
      </div>
    </div>
  </div>

  <div class='col-sm-10'>
    <h3>Your team</h3>
    <div class='form-group'>
      <label for="team-name" class="col-sm-3 control-label">Team Name</label>
      <div class='col-sm-8'>
        <input type="text" name="team-name" value="" class='form-control' id='team-name'>
      </div>
    </div>
    <button class='btn btn-primary col-sm-offset-3' type='submit'>Create league &rarr;</button>
  </div>
</form>