<h1><%= league.escape('name') %></h1>

<table class='table'>
  <thead>
    <tr class='info'>
      <th data-sort-fn="_lowerTitle">Team Name</th>
      <th data-sort-col="wins">W</th>
      <th data-sort-col="losses">L</th>
      <th data-sort-col="ties">T</th>
      <th data-sort-col="winPct">Win %</th>
      <th data-sort-col="waiver">Waiver</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>