<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST" accept-charset="utf-8">
  <%= render 'layouts/authenticity_token' %>

  <label>
    Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>
  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <p><input type="submit" value="Continue &rarr;"></p>
</form>