<table class='table table-hover table-striped'>
  <thead>
    <tr class='info'>
      <th rowspan='2' class='no-border-top'>POS</th>
      <th rowspan='2' class='no-border-top'>Action</th>
      <th rowspan='2' class='no-border-top'>Player</th>
      <th colspan='3' data-sort-col="pass_yards" class='centered helper'>
        <small>Passing</small>
      </th>
      <th colspan='2' data-sort-col="rush_yards" class='centered helper'>
        <small>Rushing</small>
      </th>
      <th colspan='2' data-sort-col="rec_yards" class='centered helper'>
        <small>Receiving</small>
      </th>
      <th rowspan='2' class='no-border-top' data-sort-col="two_pt_conv">2 Pt</th>
      <th rowspan='2' class='no-border-top' data-sort-col="fumbles">Fum<br>Lost</th>
      <th rowspan='2' class='no-border-top' data-sort-col="points">Points</th>
    </tr>
    <tr class='info'>
      <th data-sort-col="pass_yards">Yds</th>
      <th data-sort-col="pass_tds">TD</th>
      <th data-sort-col="pass_ints">Int</th>
      <th data-sort-col="rush_yards">Yds</th>
      <th data-sort-col="rush_tds">TD</th>
      <th data-sort-col="rec_yards">Yds</th>
      <th data-sort-col="rec_tds">TD</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>