<div id='content' class='shadow content'>

</div>

<script type="application/json" charset="utf-8" id='current-league'>
	<%= raw render partial: 'leagues/league' %>
</script>

<script type="application/json" charset="utf-8" id='current-user'>
	<%= raw render partial: 'leagues/user' %>
</script>