<h1><%= @league.name %></h1>
<% if current_user == @league.manager %>
  <small><%= link_to "Edit this league", edit_league_url(@league) %></small>
<% end %>

<table class="info responsiveTable" style="width: 100%; font-size: 15px;">
  <thead>
    <tr>
      <th style="width: 100%">League Standings</th>
    </tr>
  </thead>
  <tbody>
    <% @league.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>
    <% end %>
</table>