$bgDefault      : #12264D;
$bgHighlight    : #D11D1D;
$colDefault     : #FFFFFF;
$colHighlight   : #CED2DE;
.navbar-default {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus {
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; }
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
}
.navbar {
  border-radius: 0px;
  border: 0px;
  border-bottom: 3px solid $bgHighlight;
}