.c {
    height: 27px;
    padding-left: 45px;
    position: relative;
		float: left;
}
.c div {
    background-image: url("nfl_logos.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 27px;
    left: 0;
    margin-bottom: -1px;
    margin-right: 5px;
    position: absolute;
    top: 1px;
    width: 40px;
}
.c-buf div {
    background-position: 0 0;
}
.c-ne div {
    background-position: 0 -27px;
}
.c-bal div {
    background-position: 0 -54px;
}
.c-cle div {
    background-position: 0 -81px;
}
.c-hou div {
    background-position: 0 -108px;
}
.c-jac div, .c-jax div {
    background-position: 0 -135px;
}
.c-den div {
    background-position: 0 -162px;
}
.c-oak div {
    background-position: 0 -189px;
}
.c-mia div {
    background-position: 0 -216px;
}
.c-nyj div {
    background-position: 0 -243px;
}
.c-cin div {
    background-position: 0 -270px;
}
.c-pit div {
    background-position: 0 -297px;
}
.c-ind div {
    background-position: 0 -324px;
}
.c-ten div {
    background-position: 0 -351px;
}
.c-kc div {
    background-position: 0 -378px;
}
.c-sd div {
    background-position: 0 -405px;
}
.c-dal div {
    background-position: 0 -432px;
}
.c-phi div {
    background-position: 0 -459px;
}
.c-chi div {
    background-position: 0 -486px;
}
.c-gb div {
    background-position: 0 -513px;
}
.c-atl div {
    background-position: 0 -540px;
}
.c-no div {
    background-position: 0 -567px;
}
.c-ari div {
    background-position: 0 -594px;
}
.c-sf div {
    background-position: 0 -621px;
}
.c-nyg div {
    background-position: 0 -648px;
}
.c-was div {
    background-position: 0 -675px;
}
.c-det div {
    background-position: 0 -702px;
}
.c-min div {
    background-position: 0 -729px;
}
.c-car div {
    background-position: 0 -756px;
}
.c-tb div {
    background-position: 0 -783px;
}
.c-sea div {
    background-position: 0 -810px;
}
.c-stl div {
    background-position: 0 -837px;
}
.c-DEF div {
    background: url("http://s.nflcdn.com/static/content/public/static/img/fantasy/avatar/40x27/DEF.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}
.c-noteam b, .c-fa div {
    background: url("/static/img/nflLogo40x27_1389660237.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}