// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// helper styles
.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.centered {
  text-align: center;
}

.no-padding {
  padding: 0px;
}

// general styles
body {
  color: white;
  background-color: #E8E8E8;
}

a {
  color: #79B7ED;
}

.container {
  background-color: #1C1C1C;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
}

// form styles
.form-control {
  border-radius: 2px;
}

.btn {
  border-radius: 2px;
}

.btn-primary {
  background-color: #002061;
  border-color: #0052fb;
}

.btn-primary:hover {
  background-color: #002A7E;
  border-color: #002061;
}

// table styles
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #262626;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #303030;
}

.table > thead > tr.info > th {
  background-color: #36435C;
}

.table > thead > tr.info > td {
  background-color: #36435C;
}

.table > thead > tr > .helper {
  padding: 0px;
  border-bottom: 0px;
}

.table > thead > tr > .no-border-top {
  border-top: 0px;
}

// modal styles
.modal-dialog, .popover {
  color: #1C1C1C;
}

.modal-content {
  border-radius: 3px;
}

.modal .table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #FAFAFA;
}

.modal .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F2F2F2;
}

.modal .table > thead > tr.info > th {
  background-color: #d9edf7;
}

.modal .table > tbody > tr.success > td {
  background-color: #dff0d8;
}

.table > tbody > tr.danger > td {
  background-color: #f2dede;
}

.table > tbody > tr > td.no-padding {
  padding: 0px;
}

.modal .table-striped > tbody > tr:nth-child(odd).danger > td {
  background-color: #f2dede;
}

.modal .table {
  margin-bottom: 0px;
}

.modal-footer {
  margin-top: 0px;
}