// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.form-control {
  border-radius: 2px;
}

.btn {
  border-radius: 2px;
}

.btn-primary {
  background-color: #002061;
  border-color: #0052fb;
}

.danger {
  color: #ff0000;
}

.table > thead > tr.info > th {
  background-color: #36435C;
}

.table > thead > tr.info > td {
  background-color: #36435C;
}

.table > thead > tr > .helper {
  padding: 0px;
  border-bottom: 0px;
}

.table > thead > tr > .no-border-top {
  border-top: 0px;
}

.centered {
  text-align: center;
}

.btn-primary:hover {
  background-color: #002A7E;
  border-color: #002061;
}

.modal-content {
  border-radius: 3px;
}

.full-width {
  width: 100%;
}

body {
  color: white;
  background-color: #E8E8E8;
}

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #262626;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #303030;
}

a {
  color: #79B7ED;
}

.container {
  background-color: #1C1C1C;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
}

.modal-dialog, .popover {
  color: #1C1C1C;
}