// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// helper styles
.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.centered {
  text-align: center;
}

.no-padding {
  padding: 0px;
}

.shadow {
  -moz-box-shadow:    0px 0px 15px 0px #000000;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow:         0px 0px 15px 0px #000000;
}

// general styles
body {
  color: white;
  background-color: #C8CBCF;
}

a, a:focus {
  color: #51C9FF;
}

a:hover {
  color: #43AEDE;
}

.container {
  background-color: #145D85;
  border-radius: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.dropdown-menu, .popover {
  border-radius: 0px;
}

// form styles
.form-control {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
  border-width: 2px;
}

.btn-primary {
  background-color: #0B344A;
  border-color: #0D3F59;
}

.btn-primary:hover {
  background-color: #0B344A;
  border-color: #145D85;
}

.btn-success {
  background-color: #1BA81B;
  border-color: #1FC21F;
}

.btn-success:hover {
  background-color: #1BA81B;
  border-color: #179117;
}

.btn-danger {
  background-color: #D90E00;
  border-color: #FF1000;
}

.btn-danger:hover {
  background-color: #D90E00;
  border-color: #BD0C00;
}

// table styles
.table {
  margin-bottom: 0px;
}

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #124D6E;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #303030;
}

.table > thead > tr.info > th {
  background-color: #0B344A;
}

.table > thead > tr.info > td {
  background-color: #36435C;
}

.table > thead > tr > .helper {
  padding: 0px;
  border-bottom: 0px;
}

.table > thead > tr > .no-border-top {
  border-top: 0px;
}

// modal/popover styles
.modal-content, .popover, .popover-title {
  color: #FFFFFF;
  background-color: #505759;
}

.popover {
  max-width: 400px;
}

.popover-title {
  border-bottom-color: #5C6466;
}

.popover.top > .arrow:after {
  border-top-color: #505759;
}

.modal-content {
  border-radius: 0px;
}

.modal .table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #43484A;
}

.modal .table > tbody > tr.success > td {
  background-color: #4cae4c;
}

.table > tbody > tr.danger > td {
  background-color: #f2dede;
}

.table > tbody > tr > td.no-padding {
  padding: 0px;
}

.modal .table-striped > tbody > tr:nth-child(odd).danger > td {
  background-color: #D90E00;
}

.modal .table {
  margin-bottom: 0px;
}

.modal-footer {
  margin-top: 0px;
}