<h1>Awesome fantasy football stuff goes here.</h1>

<a class='btn btn-lg btn-success btn-block' href='#/leagues/1/teams/1'>Go to your team!</a>

<p class='lead margin-md'>
  Welcome to Gridiron Guru, the newest fantasy football site on the web. It is still in its infancy, but I believe you will see some very cool things I've been able to implement so far!
</p>

<p class='lead margin-md'>
  If you're feeling extra ambitious, please check out the code <a href='https://github.com/kylerm42/gridiron-guru'>right here</a>. If you run into any problems you think I need to address right away, feel free to open an issue there.
</p>

<p class='lead margin-md'>
  Thanks for visiting! Enjoy!
</p>