<% if flash[:info] %>
  <% flash[:info].each do |info| %>
    <p class="info dismissible message"><%= info %></p>
  <% end %>
<% end %>
<% if flash[:success] %>
  <% flash[:success].each do |success| %>
    <p class="success dismissible message"><%= success %></p>
  <% end %>
<% end %>
<% if flash[:warning] %>
  <% flash[:warning].each do |warning| %>
    <p class="warning dismissible message"><%= warning %></p>
  <% end %>
<% end %>
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error dismissible message"><%= error %></p>
  <% end %>
<% end %>