<% if flash[:info] %>
  <% flash[:info].each do |info| %>
    <p class="alert alert-info alert-dismissable"><%= info %></p>
  <% end %>
<% end %>
<% if flash[:success] %>
  <% flash[:success].each do |success| %>
    <p class="alert alert-success alert-dismissable"><%= success %></p>
  <% end %>
<% end %>
<% if flash[:warning] %>
  <% flash[:warning].each do |warning| %>
    <p class="alert alert-warning alert-dismissable"><%= warning %></p>
  <% end %>
<% end %>
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="alert alert-danger alert-dismissable"><%= error %></p>
  <% end %>
<% end %>