<form action="<%= session_url %>" class='navbar-form navbar-right' method="post">
    <%= render 'layouts/authenticity_token' %>
    <input name="_method" type="hidden" value="delete">

    <button class="btn btn-default btn-sm" type="submit"><span class='glyphicon glyphicon-off'></span> Sign Out</button>
</form>