<form action="<%= session_url %>" method="POST" accept-charset="utf-8" class='navbar-form navbar-right' role='form'>
  <%= render 'layouts/authenticity_token' %>

  <div class='form-group'>
    <label class='sr-only' for='username'>Username</label>
      <input type="text" name="user[username]" id='username' placeholder="Enter username" class='form-control input-sm'>
  </div>
  <div class='form-group'>
    <label class='sr-only' for 'password'>Password</label>
      <input type="password" id='password' name="user[password]" placeholder="Password" class='form-control input-sm'>
  </div>

  <button type="submit" class='btn btn-default btn-sm'>Sign In</button>
</form>